openapi: 3.0.0
servers:
  - description: Allure AI Business API
    url: https://apibusiness.allure.id
info:
  description: This is an API to utilize Allure AI inference engine
  version: "v1"
  title: Allure AI Business API
  contact:
    email: admin@allure.id
paths:
  /facial-check/v1/predict:
    post:
      tags:
        - Facial Check API
      summary: calculates facial check score asynchronously
      operationId: scoreFacialCheck
      description: Calculates Facial Check scores depending on the requested components, and calls a webhook to post the result when it is done.
      responses:
        "201":
          description: Scoring job created
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "./schemas/FacialCheckAPI/FacialCheckRequest.yaml"
                - type: object
                  required:
                    - callback_url
                  properties:
                    callback_url:
                      type: string
                      format: uri
                      example: "https://some-backend-server.example.com/facial-check-webhook"
      callbacks:
        scoringSuccessful:
          "{$request.body#/callback_url}":
            post:
              description: "Facial check scoring job successful"
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "./schemas/FacialCheckAPI/FacialCheckSuccessResponse.yaml"
              responses:
                "200":
                  description: "Your callback returns HTTP 200"
        scoringFailed:
          "{$request.body#/callback_url}":
            post:
              description: "Facial check scoring job failed"
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "./schemas/FacialCheckAPI/FacialCheckErrorResponse.yaml"
              responses:
                "200":
                  description: "Your callback returns HTTP 200"

  /product-suitability/skincare/v2/calculate:
    post:
      tags:
        - Product Suitability API
      summary: calculates skincare product suitability score asynchronously
      operationId: calculateSkincareProductSuitabilityScore
      description: Calculates Skincare Product Suitability scores depending on the user's skin conditions, and calls a webhook to post the result when it is done.
      responses:
        "201":
          description: Scoring job created
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "./schemas/ProductSuitabilityAPI/CalculateSkincareProductSuitabilityScoreRequest.yaml"
                - type: object
                  required:
                    - callback_url
                  properties:
                    callback_url:
                      type: string
                      format: uri
                      example: "https://some-backend-server.example.com/skincare-product-suitability-score-webhook"

      callbacks:
        scoringSuccessful:
          "{$request.body#/callback_url}":
            post:
              description: "Product suitability scoring job successful"
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "./schemas/ProductSuitabilityAPI/CalculateSkincareProductSuitabilityScoreSuccessResponse.yaml"
              responses:
                "200":
                  description: "Your callback returns HTTP 200"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:

security:
  - ApiKeyAuth: []
tags:
  - name: Facial Check API
  - name: Product Suitability API
